{% extends 'base.html' %}
{% block title%}About{% endblock title%}
{% block body %}
<div class="container">

    <p><strong>About This Project</strong></p>

    <p>
        This web application is built using <strong>Flask</strong>, a simple and beginner-friendly Python web framework.
        The goal of this project is to understand the basics of web development using Flask.
    </p>

    <p>In this Project:</p>
    <ul>
        <li>Set up a Flask application.</li>
        <li>Create routes.</li>
        <li>Use HTML templates with <strong>Jinja2</strong>.</li>
        <li>Handle user input through forms.</li>
        <li>Work with a database using <strong>SQLAlchemy</strong> and <strong>SQLite</strong>.</li>
    </ul>

</div>

{% endblock body %}